<%- include("./partials/head") %>
<%- include("./partials/header") %>
    <main class="form-container">
        <h1>Tela de login</h1>
        <form action="">
            <input type="email" name="email" id="" placeholder="E-mail">
            <input type="password" name="senha" id="" placeholder="Senha">
            <button type="submit">Entrar</button>
        </form>
        <section>
            <span>Não possui conta?</span>
            <a href="/register">Cadastre-se</a>
        </section>
    </main>
    <%- include("./partials/footer") %>